<div class="container">
  <div class="wrapper">
    <spna *ngIf="isSubmitting$ | async; else BUTTON"  class="loader-container">
      <img src="https://ukraine.techsoup.global/sites/all/modules/techsoup/ts_stock/assets/images/loading.gif" alt="" class="loader">
    </spna>
    <ng-template #BUTTON >
    <div class="bg-color" [formGroup]="formG" >
      <p class="title">Step Code</p>
      <input type="number" min="0"    class="input-item" autocomplete="true"   placeholder="x-x-x-x" formControlName="code"  maxlength="4">


      <div class='link-wrapper'>
      <button    class="button-submit" (click)="backToPhoneStep()">prev</button>
      <button (click)='onSubmit()'
              class="{{formG.invalid? 'button-disable' :'button-submit' }}"
              [class.button-disable]="formG.invalid" type="submit" [disabled]="formG.invalid">next</button>
      </div>
    </div>

    </ng-template>


  </div>

</div>
