<div class='container'>
  <div class='wrapper'>
    <div class='bg-color'>
      <p class='title'>Welcome to Messenger</p>
<div class='img-wrapper'>
  <img [src]='angular' alt='angular' class='photo-size'>
  <img [src]='ngRx' alt='angular' class='photo-size'>
  <img [src]='webRTC' alt='angular' class='photo-size'>
  <img [src]='nest' alt='angular' class='photo-size'>
  <img [src]='rxJS' alt='angular' class='photo-size'>
  <img [src]='postgreSQL' alt='angular' class='photo-size'>
  <img [src]='typeOrm' alt='angular' class='photo-size'>
</div>
    </div>
  </div>

</div>
