<div class="message__wrapper {{meProps? 'reverse':''}}">
  <div class='message__avatar-wrapper'>
    <img src='https://prusamedica.ru/images/usersq.webp' alt='avatar' class='message__conversation-avatar'>
  </div>
<div class='message__container'>
    <span class='message__body'>
    тут якесь повідомлення,  r reg  re
    тут якесь повідомлення,  rg
    тут якесь повідомлення,
    тут якесь повідомлення, fg
    тут якесь повідомлення,  retge re wefer tre trhrt trh
    тут якесь повідомлення,
    тут якесь повідомлення,
    тут якесь повідомлення,
  </span>
  <div class="message__time-wrapper {{meProps? 'reverse':''}}">
    <div class='message__time'>
      5 хвилин тому
    </div>
  </div>

</div>
</div>
