<div class="container">
  <div class="wrapper">
    <form class="bg-color" [formGroup]="formG" (ngSubmit)="onSubmit()">
      <p class="title">Step Phone</p>
      <input type="tel" mask="_" class="{{
      formG.get('phone').errors?.required  && formG?.get('phone').touched ||
      formG.get('phone').errors?.maxlength  && formG?.get('phone').touched||
      formG.get('phone').errors?.pattern  && formG?.get('phone').touched
      ?'error-input' : 'input-item'}}" autocomplete="true" placeholder="+380 xx xxx-xx-xx"
             formControlName="phone">
      <span
        *ngIf="formG?.get('phone').invalid  && formG?.get('phone').touched  && formG?.get('phone').dirty">
        <am-error-messages *ngIf="formG?.get('phone').errors?.required" errorMessages="Поле не може бути пусти!">
      </am-error-messages>
      <am-error-messages *ngIf="formG.get('phone').errors?.maxlength" errorMessages="Забагато цифер!">
      </am-error-messages>
        <am-error-messages *ngIf="formG.get('phone').errors?.maxlength" errorMessages="Невалідний номер!">
      </am-error-messages>
  </span>

      <button prevStep  class="button-submit">prev</button>
      <button  class="button-submit" type="submit" [disabled]="formG.invalid"  [class.button-disable]="formG.invalid">next</button>
    </form>

  </div>
</div>
