<div class="container">
  <div class="wrapper">
    <form class="bg-color">
      <p class="title">Sing Up</p>
      <input type="text" class="input-item" autocomplete="true" placeholder="your email">
      <input type="text" class="input-item" autocomplete="true" placeholder="password">
      <input type="text" class="input-item" autocomplete="true" placeholder="confirm password">
      <button class="button-submit">submit</button>
      <a  [routerLink]="['/sing-in']" class="link-text">go to sing-in?</a>
    </form>
  </div>
</div>
